<template>
 <div>
   <h1>
     Hello World
   </h1> 
 </div>
</template>

<script>
export default {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  
</style>
